@page
@model OceanicAirlines.Pages.MainPageModel
@{
}

<div class="toast-header">
    <img src="/img/primary.png" style="width: 100px">

    <div class="container-fluid d-flex justify-content-center">
        <div class="fake-button" onclick="window.open('/PackageInformation', '_self')">Send Package</div>
    </div>
</div>