<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <title>@ViewData["Title"] - OceanicAirlines</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 20px;
        }

        h3 {
            font-size: 16px;
        }

        .fake-button {
            border: black 1px solid;
            padding: 3px;
            background-color: #4AB0D9;
            color: #444;
            user-select: none;
        }

        .fake-button-pressed {
            background-color: #2E468C;
            color: lightgray;
        }

        th {
            background-color: #EEE;
        }

        .table tbody tr.highlight td {
            background-color: #ddd;
        }

        * {
            user-select: none;
        }

        input[type=radio] {
            margin-right: 20px;
        }

        .radiorow {
            border-bottom: 1px solid #dee2e6;
            width: 100%;
            /*padding-bottom: 2px;*/
        }

        fieldset tr td label {
            padding-right: 30px;
        }
    </style>
</head>
<body>
    <div class="container">
        <noscript>
            <div class="alert alert-danger" role="alert">
                This website requires JavaScript. Please enable JavaScript.
            </div>
        </noscript>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - OceanicAirlines - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
